.container{
    max-width: 90%;
}

.titulo-steps{
    text-align: center;
    margin-top: 25rem;
    color:#fb9e05;
    font-weight: 350;
}

.steps-flex{
    display: flex;
    justify-content: space-between;
}

.steps-item{
    width: 33%;
}

.steps-item h4{
    color: #fb9e05
}

.background-calendario{
    background-color: #fb9e05;
    text-align: center;
}

.background-calendario h3,
.background-calendario p{
    color: #ebfcff;
    font-weight: 350;
}
