figure{
  margin: 0;
  padding:0;
}

.pb-5{
  padding-bottom: 7rem!important;
}

.container{
  max-width: 90%;
}

.container-promocao{
  max-width: 90%;
  margin: 0 auto;
}

.cabecalhoPrincipal{
    background-color: #1a1f71;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav-flex{
  display: flex;
  justify-content: flex-end;
  min-width: 90%;
  margin: 0 auto;
}

.botao {
    border: none;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
.botao1 {
    background-color: transparent; 
    color: #ebfcff; 
    border: 1px solid #ebfcff;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5%;  
  }

.botao-promocao{
  background-color: #fb9e05;
  border: none;
  color: #1a1f71;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2%; 
  font-weight: bold;
  flex-shrink: 2;
  width: 80%;
  align-self: center;
}

.tituloPrincipal{
  color:#1a1f71;
  font-weight: 350;
}

.row-cabecalho{
    background-image: url("http://localhost:3000/arrow-faq-collapsed.png");
    margin-top: 7px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.img-promocao{
  background-image: url("http://localhost:3000/hightlight.jpg");
  width: 65%;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  float: left;
}

.background-promocao{
  background-image: linear-gradient(90deg, #020024 0%, #1a1f71 49%, #0c40a3 100%);
  height: 400px;
  width: 35%;
  float: right;
}

.divisor{
  border-bottom: 1px solid #f7f3f35b;
  width: 75%;
  align-self: center;
}

.conteudo-promocao{
  display: flex;
  flex-direction: column;
}

.conteudo-promocao h4{
  font-weight: 350;
  color: #ebfcff;
  padding-left: 10%;
}

.conteudo-promocao p{
  color: #ebfcff;
  padding-left: 10%;
}