.cabecalhoPrincipal{
    background-color: #292988;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botao {
    border: none;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 40px;
    cursor: pointer;
  }
  
.botao1 {
    background-color: transparent; 
    color: #fff; 
    border: 1px solid #f7e7e7;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5%;  
  }

.tituloPrincipal{
  color:#292988;
  font-weight: 350;
}

.rowCabecalho{
  height: 15px;
  transform: rotateY(180deg);
  margin-top: 13px;
}